@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    /* box-sizing: border-box; */
    /* margin: 0;
    padding: 0; */
    /* background-color: white; */
    font-family: 'Sriracha', cursive;
}
body{
    background: linear-gradient(135deg, rgba(19,33,47,1) 0%, rgba(20,172,204,1) 100%);
}
.title{
    font-size: 30px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.flex-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
    width: 50%;
}
.login-card-custom {
    border-radius: 12px;
    width: 80%;
}
.form-outline{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
form .user-details .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 20px 0 10px 0; */
}
form .user-details .wrap input[type="text"],form .user-details .wrap input[type="password"],form .user-details .wrap input[type="email"],form .user-details .wrap textarea{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.form-outline label{
   margin-left: 10px;
}
.form-label{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

@media (min-width: 0px) and (max-width: 576px) { 
    .login-card-custom {
        width: 100%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}
@media (min-width: 576px) and (max-width: 768px) { 
    .login-card-custom {
        width: 100%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}
@media (min-width: 768px) and (max-width: 992px) { 
    .login-card-custom {
        width: 80%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .login-card-custom {
        width: 60%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}

.alert-custom {
    width: 30%;
    text-align: center;
}
@media (min-width: 0px) and (max-width: 576px) { 
    .alert-custom {
        width: 100%;
    }
    
}
@media (min-width: 576px) and (max-width: 768px) { 
    .alert-custom {
        width: 100%;
    }
    
}
@media (min-width: 768px) and (max-width: 992px) { 
    .alert-custom {
        width: 80%;
    }
    
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .alert-custom {
        width: 60%;
    }
    
}