@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

.navbar{
    background-color: #24252A;
    font-size: 20px;
    font-weight: 600;
}
.nav-link{
    color: white !important;
}

.nav-link.active:hover{
    color: goldenrod !important;
    transition: all 0.4s ease-in-out;
}
.dropdown-item.drop:hover{
    color: goldenrod;
    transition: all 0.4s ease-in-out;
}
